@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Charter";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Charter/charter_regular.woff2") format("woff2");
}
@font-face {
  font-family: "Charter";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Charter/charter_italic.woff2") format("woff2");
}
@font-face {
  font-family: "Charter";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Charter/charter_bold.woff2") format("woff2");
}
@font-face {
  font-family: "Charter";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/Charter/charter_bold_italic.woff2") format("woff2");
}
.columns-12 {
  display: grid;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
  grid-template-columns: repeat(12, 1fr);
}

.columns-10 {
  display: grid;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
  grid-template-columns: repeat(10, 1fr);
}

.columns-8 {
  display: grid;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
  grid-template-columns: repeat(8, 1fr);
}

.columns-6 {
  display: grid;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
  grid-template-columns: repeat(6, 1fr);
}

.columns-5 {
  display: grid;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
  grid-template-columns: repeat(5, 1fr);
}

.columns-4 {
  display: grid;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
  grid-template-columns: repeat(4, 1fr);
}

.columns-3 {
  display: grid;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
  grid-template-columns: repeat(3, 1fr);
}

.columns-2 {
  display: grid;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 992px) {
  .columns-12 {
    display: grid;
    -moz-column-gap: 2vw;
         column-gap: 2vw;
    grid-template-columns: repeat(6, 1fr);
  }
  .columns-10 {
    display: grid;
    -moz-column-gap: 2vw;
         column-gap: 2vw;
    grid-template-columns: repeat(5, 1fr);
  }
  .columns-8 {
    display: grid;
    -moz-column-gap: 2vw;
         column-gap: 2vw;
    grid-template-columns: repeat(4, 1fr);
  }
  .columns-6 {
    display: grid;
    -moz-column-gap: 2vw;
         column-gap: 2vw;
    grid-template-columns: repeat(3, 1fr);
  }
  .columns-5 {
    display: grid;
    -moz-column-gap: 2vw;
         column-gap: 2vw;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 769px) {
  .columns-12 {
    display: grid;
    -moz-column-gap: 2vw;
         column-gap: 2vw;
    grid-template-columns: repeat(3, 1fr);
  }
  .columns-2 {
    display: grid;
    -moz-column-gap: 2vw;
         column-gap: 2vw;
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=clarity.css.map */

/* Grid container for object placement */
.columns-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Now 4 columns */
  gap: 10px; /* Adjust gap as needed */
}

/* Grid item */
.grid-item {
  width: 100%;
}

/* Image wrapper */
.image-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* Main image */
.main-image {
  width: 100%;
  height: auto;
  display: block;
}

/* Overlay container */
.overlay-container {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20%;
  height: auto;
}

/* Small image */
.small-image {
  width: 100%;
  height: auto;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: transform 0.05s ease-in-out;
}

.small-image:hover {
  transform: scale(1.1);
}


/* Container for the scene composition grid */
/* Container for the 2x3 grid */
.grid2x3-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-auto-rows: auto;
  gap: 20px;
}

/* Individual grid item */
.grid2x3-item {
  width: 100%;
}

/* Container for the image and thumbnails */
.grid2x3-image-container {
  display: flex;
  align-items: stretch;
}

/* Container for the thumbnails */
.grid2x3-thumbnails-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}

/* Thumbnails styling */
.grid2x3-thumbnail {
  cursor: pointer;
  width: 115px;
  flex-grow: 1;
  object-fit: cover;
  border: 5px solid #ccc;
  transition: transform 0.05s;
}

.grid2x3-thumbnail:hover {
  transform: scale(1.05);
  border-color: #999;
}

/* Large image styling */
.grid2x3-large-image {
  width: 160%;
  max-width: 400px; /* Set a max width to prevent large images from covering the page */
  height: auto;
  object-fit: cover;
}

/* Ensure the thumbnails container matches the height of the large image */
.grid2x3-image-container > .grid2x3-thumbnails-container,
.grid2x3-image-container > .grid2x3-large-image {
  height: 100%;
}

/* Responsive adjustments for the 2x3 grid */
@media (max-width: 800px) {
  .grid2x3-container {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .grid2x3-container {
      grid-template-columns: 1fr;
  }
}

/* Container for the scene Relighting grid */
/* Container for the 1x3 grid */
.grid1x3-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-auto-rows: auto;
  gap: 20px;
}

/* Individual grid item */
.grid1x3-item {
  width: 100%;
}

/* Container for the image and thumbnails */
.grid1x3-image-container {
  display: flex;
  align-items: stretch;
}

/* Container for the thumbnails */
.grid1x3-thumbnails-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}

/* Thumbnails styling */
.grid1x3-thumbnail {
  cursor: pointer;
  width: 115px;
  flex-grow: 1;
  object-fit: cover;
  border: 5px solid #ccc;
  transition: transform 0.05s;
}

.grid1x3-thumbnail:hover {
  transform: scale(1.05);
  border-color: #999;
}

/* Large image styling */
.grid1x3-large-image {
  width: 160%;
  max-width: 400px; /* Set a max width to prevent large images from covering the page */
  height: auto;
  object-fit: cover;
}

/* Ensure the thumbnails container matches the height of the large image */
.grid1x3-image-container > .grid1x3-thumbnails-container,
.grid1x3-image-container > .grid1x3-large-image {
  height: 100%;
}

/* Responsive adjustments for the 2x3 grid */
@media (max-width: 800px) {
  .grid1x3-container {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .grid1x3-container {
      grid-template-columns: 1fr;
  }
}

/* Container for the scene Relighting grid */
/* Container for the 1x3 grid */
.grid1x3-container_new {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 2 columns */
  grid-auto-rows: auto;
  gap: 20px;
}
